@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --all-fonts: #262526;
    --bk-one: #ffffff;
    --bk-two:#cbe8f5;
    --dark-theme:#1c6379;
    --form-inputs: #f0faff;
    --image-bg:#e3e3ee;
    --third-bg: #f0faff;
}

html, body{
    background-color:var(--bk-two);
    width: 100%;
    height: 100%;
}

img{
    width: 100%;
    height: 100%;
}

h2{
    text-align: center;
    font-size: 2.2em;
    padding: 20px 0;
    margin: 22px auto;
}

span{
    display: block;
}

nav{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    padding: .5em 4em;
    border-bottom-style: solid;
    border-bottom-color: var(--bk-one);
    border-bottom-width: 1px;
    background: inherit;
}

.header li{
    list-style: none;
    display: inline;
}

.header a {
    color: var(--dark-theme);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 1.2em;
}

.header a:hover {
    background-color: var(--bk-one);
    color: var(--dark-theme);
    font-size: 1.2em;
    border-radius: 12px;
}

.nav-links{
    margin: auto 0;
}

.svg-img{
    width: 40px;
    z-index: -1;
}

.logo-container{
    display: flex;
    flex-direction: row;
}

.logo-desc{
    margin: 5px 0 5px 6px;
    text-align: justify;
}

.logo-desc h1{
    font-size: 1em;
}

.about-me{
    width: 100%;
    padding-top:10vh;
    bottom: 0;
}

.about-container{
    border-bottom-left-radius: 2em;
}

.about-desc{
    display: grid;
    grid-template-columns: repeat(2, 62% 38%);
    grid-template-areas: 
        "content pic";
    grid-gap: 2em;
    height: 100%;
    padding: 0 4em;
}

.about-image{
    grid-area: pic;
    background-color: var(--image-bg);
    padding: 0 12px;
    margin-right: 12px;
    border-top-left-radius: 5em;
}

.about-content{
    margin: auto 0;
    padding-right: 22px;
    text-align: justify;
}

.about-content p{
    font-size: 1.5em;
    line-height: 1.5;
}

.about-content span{
    display: block;
    margin: 20px 0;
    font-size: 1.7em;
}

.get-in-touch{
    color:var(--bk-one);
    background-color: var(--dark-theme);
    padding: 8px;
    font-size: 20px;
    border-radius: 12px;
    cursor: pointer;
}

.what-i-offer{
    background-color: var(--bk-one);
    width: 100%;
    padding: 20px;
}

.service-content{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    margin: 15px auto;
    place-content: center;
}

.service-details{
    padding:10px 0;
    text-align: center;
    background: var(--third-bg);
    border-radius: 10px;
    border-top: 3px solid var(--dark-theme);
    margin: 10px 20px;
}

.service-content-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3em;
    margin: 8px 5px;
}

.inner-content{
    line-height: 1.8;
    font-size: 1.18em;
    padding: 10px;
}

.service-icon{
    border-radius: 50%;
    margin: 2px auto;
    background: #cbe8f5;
    padding: 12px;
}

.service-content img{
    width: 20px;
}

.inner-content li{
    list-style:none;
}

.contact-sect{
    background-color:var(--third-bg);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.contact-sect h3{
    text-align: center;
    font-size: 2em;
    font-style: italic;
    padding: 20px 0;
}

.icon-links{
    display: grid;
    grid-template-columns: repeat(4, 15%);
    grid-gap: 2px 0;
}

.contact-container{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.social-contacts{
    font-style: italic;
    font-size: 1.4em;
    font-weight: 500;
    line-height: 1.5;
    margin: auto 0;
}

.inner-social-content{
    margin: 10px 30px 10px 0;
    padding: 12px 12px 12px 0;
}

.form-container{
    width: auto;
    background-color: #ffffff;
    margin: 12px auto;
    border-radius: 2em;

}
.survey-form{
    padding: 2em;
    border-radius: 4px;
    width: auto;
    font-size: 18px;
}

.form-fam{
    margin: 15px 5px;
    display: grid;
    grid-template-rows: "label field";
    padding: 4px 0;
}

.submit{
    background: var(--dark-theme);
    width: 100%;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    height: 2em;
    border: none;
    border-radius: 4em;
}

#comments{
    height: 120px;
    width: 100%;
    border: 1px solid;
    font-size: 1em;
    margin: 12px 0;
    border-radius: 5px;
    padding: 3px;
}

label{
    font-size: 1.4em;
    margin-bottom: 5px;

}

#email, #name{
    height: 2em;
    font-size: 1em;
    border-radius: 5px;
    padding: 3px;
}

.icon-links a img{
    width: 40px;
}

footer{
   width: 100%;
   background-color: #000000;
   color:var(--bk-one);
   font-size: 1.2em;
   padding: 20px;
}

footer a{
    text-decoration: none;
    color:var(--bk-one);
}

@media only screen and (max-width: 1000px){
    .service-content{
        display: flex;
        flex-wrap: wrap;
    }

    .service-details{
        width: 100%;
        margin: 20px;
    }
    .contact-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin:10px auto;
    }

    .inner-social-content{
        text-align:center;
    }

    .icon-links{
        justify-content: center;
    }

    .about-desc{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 12px;
    }
    .about-image{
        width: 100%;
        margin: 0 0;
    }

    .header a {
        padding: 14px 10px 0 10px;
        text-decoration: none;
        font-size: 1em;
    }
}
    